:root {
    --primary: #165ea2;
    --not-in-place: #ad531e;
    --in-place: #5b1f9f;
    --wrong: #941e1e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.disable {
    opacity: .5;
}

body {
    display: flex;
    background-color: #181a1b;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#app {
    position: relative;
    width: 70%;
    min-width: 1140px;
    height: 80vh;
    background: #222426;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-name {
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    height: 10%;
    background: #1c1f20;
}

#player-container {
    position: relative;
    top: 10%;
    display: flex;
    width: 100%;
    height: 90%;
    padding: 3% 5%;
}

#play-space {

    #trys {
        span {
            font-size: 1.3rem;
            margin-right: .7em;
            color: #fff;
        }

        input {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            /*background: #2b2a33;*/
            border: none;
            border-bottom: 2px solid var(--primary);
            width: 1em;
            height: 1em;
            margin: 10px;
            /*color: white;*/

            &:focus {
                outline: 2px solid #bac6d1;
                box-shadow: 0 0 5px #759edb;
            }
        }

    }

    .btn {
        margin: 5% 16%;
        width: 100%;

        #hints, #cheek-word {
            height: 3.6em;
            margin: 10px;
            border: none;
            border-radius: 10px;
            background: var(--primary);
            color: white;
            font-weight: bold;
            font-size: 1.1rem;
            cursor: pointer;

            &:hover {
                padding: 20px;
                box-shadow: 0 0 5px #759edb;

                span {
                    &:hover {
                        font-size: 1.4rem;
                        color: #ee6c6c;
                    }
                }
            }
        }

        #cheek-word {
            width: 10em;
        }

        #hints {
            width: 7em;

            span {
                font-size: 1.3rem;
                margin-right: .6em;

            }
        }
    }

}

#play-role {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;

    .role {
        display: flex;
        font-size: 1.1em;
        font-weight: 500;
        padding: 1em;
        margin: 0.5em;
        border-radius: 10px;
    }

    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;

    }

    div {
        div {
            color: white;
        }
    }


}

#InPlaceCorrect {
    background: #863DD919;
}

#notCorrect {
    background: #DB4F4F19;
}

#notInPlaceNotCorrect {
    background: #C36A301A;
}

.circle-InPlaceCorrect {
    background: var(--in-place);
}

.circle-notInPlaceNotCorrect {
    background: var(--not-in-place);
}

.circle-notCorrect {
    background: var(--wrong);
}

.cheeked {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#msg {
    margin: 30px auto;
    background: var(--primary);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 1.2em;
    font-size: 1.3rem;
}

.box-word {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    /*align-items: center;*/
    flex-direction: column;
}

#local-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20%;

    input {
        margin-bottom: 1em;
        outline: none;
        box-shadow: none;
        background: rgba(240, 248, 255, 0);
        border: 2px solid #000;
        border-radius: 0 0 10px 10px;
        border-top: none;
        color: aliceblue;
        font-weight: bold;
        font-size: 1.1rem;
        padding: .6em;

    }
}

label {

    .la-tx {
        font-size: 1.2rem;
        margin: 0 6px;
    }

    border: 2px solid #000;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

#box-word:hover {
    cursor: pointer;
}

.add-word {
    background: var(--primary);
    margin: 5px 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    transition: 0.2s ease-in-out;
}


.add-word:hover, #added-word:hover {
    cursor: pointer;
    scale: 1.1;
}

.box-word {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: #575f62;
}

.add-wordX, #added-word {
    display: flex;
    justify-content: center;
    background: #165ea2;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 50px;
    align-self: center;
    transition: 0.2s ease-in-out;
}
